.icon-orbit {
  position: absolute;
  width: 320px;
  height: 320px;
 
   left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 0.5px ridge var(--accent);
    pointer-events: auto;
}

.orbit-icon {
  --radius: 160px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform:
    translate(-50%, -50%)
    rotate(calc(360deg / var(--total) * var(--i)))
    translateY(calc(-1 * var(--radius)));

  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit-icon-face {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 50%;
}

/* .orbit-icon svg {
  filter: drop-shadow(0 0 12px rgba(30,144,255,0.7));
} */